body {
    margin:0px;
    font-family:'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
}
*{
    box-sizing: border-box;
    line-height: 180%;
}
a {
    text-decoration: none;
    color: black;
}
.c {
    text-align: center;
}
header {
    padding: 20px;   
    margin-bottom: 25px;
    background-color: white;
}
header a, header span {
    height: 60px;display: flex;
    align-items: center;
}
header a {
    margin: 0px 13px;
}
header img{
    height: 60px;
    padding: 5px;
}
header span img {
    width: 60px;
}
.headerdis {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 980px;
    margin: 0px auto;
}
.margium {
    display: block;
    max-width: 1000px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.margium-s {
    display: block;
    max-width: 680px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.contenumoduledevote {
    display: block;
    margin: 15px auto;
    max-width: 320px;
    width: 100%;
}
.espace{
    margin: 0px 15px;
}
img.visuelvote {
    width: 100%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.02);

}
.card {
    background-color: white;
}
.moduledevote img{
    max-width: 60px;
    border-radius: 50%;
}
.moduledevote a{
    display: contents;
}
.moduledevote {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.liste {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0px auto;
}
.liste img {
    width: 308px;
    border-radius: 5px;
}
.liste div {
    padding: 12px 12px 20px 12px;
    position: relative;
}
.liste span {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#aaa;
    padding: 8px 12px;
}
.liste span img {
    height: 18px;
    width: 18px;
    margin: 0px 5px 0px 17px;
    border-radius: 0px;
}
.s{
    display: none;
}
@media (max-width: 790px), handheld {
   .r {
       display: none;
   }
   .s{
       display: block;
   }
}
@media (max-width: 1010px), handheld {
    .liste {
        max-width: 670px;
    }
 }
 @media (max-width: 680px), handheld {
    .liste {
        max-width: 330px;
    }
 }